<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="NLog.Xml"/>
  </extensions>

  <targets>
    <target xsi:type="File"
        name="file"
        layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
        fileName="${logDirectory}/log.txt"
        archiveFileName="${logDirectory}/archives/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        createDirs="true"
        autoFlush="true" />

    <target xsi:type="File"
            name="fileLayout"
            layout="${xml}"
            fileName="${logDirectory}/logLayout.xml"
            archiveFileName="${logDirectory}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />

    <target xsi:type="File"
            name="fileFull"
            fileName="${logDirectory}/logFull.xml"
            archiveFileName="${logDirectory}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true">
      <layout xsi:type="XmlLayout">
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </layout>
    </target>

    <target name="messageQueue"
            xsi:type="MessageQueue"
            recoverable="true"
            createQueueIfNotExists="true"
            label="${logger}"
            queue=".\private$\log" >
      <layout xsi:type="XmlLayout">
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </layout>
    </target>

    <target xsi:type="ColoredConsole"
        name="console"
        layout="${time} ${level:uppercase=true:padding=1:fixedLength=true} ${logger:shortName=true} ${message} ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="fileLayout" />
    <logger name="*" minlevel="Debug" writeTo="fileFull" />
    <logger name="*" minlevel="Debug" writeTo="messageQueue" />
    <logger name="*" minlevel="Trace" writeTo="console" />

  </rules>
</nlog>