<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Xml"/>
  </extensions>

  <targets>
    <target name="messageQueue"
            xsi:type="MSMQ"
            recoverable="true"
            createQueueIfNotExists="true"
            label="${logger}"
            queue=".\private$\log" >
      <layout xsi:type="XmlLayout">
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="messageQueue" />
  </rules>
</nlog>