<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="NLog.Xml"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="fileXmlName"
            fileName="${logDirectory}/log.xml"
            archiveFileName="${logDirectory}/archives/log.{#}.xml"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true">
      <layout xsi:type="XmlLayout">
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </layout>
    </target>

    <target xsi:type="MessageQueue"
            name="messageQueue"
            recoverable="true"
            createQueueIfNotExists="true"
            label="${logger}"
            queue=".\private$\log" >
      <layout xsi:type="XmlLayout">
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </layout>
    </target>

    <target xsi:type="LimitedMemory" 
            name="memoryTarget" 
            limit="5"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}" />


    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${level:uppercase=true:padding=1:fixedLength=true} ${logger:shortName=true} ${message} ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileXmlName" />
    <logger name="*" minlevel="Debug" writeTo="messageQueue" />
    <logger name="*" minlevel="Debug" writeTo="memoryTarget" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>